@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: xx-large
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

img.th {
    display: block;
    max-width: 200px;
    max-height: 150px;
    min-width: 200px;
    width: auto;
    height: auto;
}

/*set all elements p, with bolder font*/
span.key {
  font-weight: bolder;
}

.article .title {
  font-weight: bolder;
  font-size: larger;
}

.article .summary{
  font-style:normal;
  font-weight: 400;
}

.article .key {
  font-weight: bold;
}

.pagenav.next{
  margin-left: 10px;
}

.pagenav.prev{
  margin-right: 10px;
}

/* ul element without indentication and using n*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


